/* Colors */
$body-color: #0f0f0f;
$white: #fff;
$white-clear: #bdc0c2;
$black: #0a0a0b;
$black-clear: #141515;
$black-clear--2: #181A1A;

/* Typography and Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$body-font: "Poppins", sans-serif;

$font-light: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* Sizes */
