* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  background-color: $body-color;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style: none;
}

input {
  background-color: transparent;
  border: 0;
}

button {
  border: 0;
  background-color: transparent;
}

button:focus,
input:focus {
  outline: 0;
}
